<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
    <div class="container">
        <form action="">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" class="form-control" required>
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" required>
            </div>
            <input type="submit" class="btn" value="login">

        </form>

    </div>

</body>

</html> -->

<html>

<head>
    <title>Login</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', path='/css/main.css?q=1280549780') }}" rel="stylesheet">
</head>

<body>
    <div class="container">
        <form action="">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" class="form-control" required>
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" required>
            </div>
            <input type="submit" class="btn" value="login">

        </form>

    </div>
</body>

</html>